In [3]:
import pandas as pd

In [4]:
import os, sys

In [5]:
with open(os.path.join(sys.path[0], "AoC_2_pw.txt"), "r") as f:
    df= pd.read_csv(f, sep=' ', header = None)

In [6]:
df

         0   1                    2
0     9-10  m:          mmmmnxmmmwm
1      6-8  w:             wpwwhxnv
2      4-6  n:            trwpnnnvq
3    12-15  p:  zfpmpphpgghpppppppp
4     5-10  z:       bqlbzfzzzbzwsz
..     ...  ..                  ...
995  11-12  f:         fffffffffsff
996  11-17  z:   hwzdfvbpbxzfpjwmzq
997   1-11  m:  mxkmnxfbtnmvmtzdqjl
998    3-4  d:                 ddjg
999  17-18  b:   jnlntbblbbqbkqmbbb

[1000 rows x 3 columns]

In [7]:
df[['low','high']] = df[0].str.split('-',expand=True).astype('int32')

In [8]:
df['char'] = df[1].str.replace(r':', '')

In [9]:
df

         0   1                    2  low  high char
0     9-10  m:          mmmmnxmmmwm    9    10    m
1      6-8  w:             wpwwhxnv    6     8    w
2      4-6  n:            trwpnnnvq    4     6    n
3    12-15  p:  zfpmpphpgghpppppppp   12    15    p
4     5-10  z:       bqlbzfzzzbzwsz    5    10    z
..     ...  ..                  ...  ...   ...  ...
995  11-12  f:         fffffffffsff   11    12    f
996  11-17  z:   hwzdfvbpbxzfpjwmzq   11    17    z
997   1-11  m:  mxkmnxfbtnmvmtzdqjl    1    11    m
998    3-4  d:                 ddjg    3     4    d
999  17-18  b:   jnlntbblbbqbkqmbbb   17    18    b

[1000 rows x 6 columns]

In [10]:
for i, row in df.iterrows():
    if row.char in row[2]:
        df.loc[i,'ct'] = row[2].count(row.char)
        
for i, row in df.iterrows():
    if row.char in row[2]:
        df.loc[i,'check'] =  (row['ct'] >= row['low']) & (row['ct'] <= row['high'])
        
for i, row in df.iterrows():
    if row.char in row[2]:        
        df.loc[i,'first_pos'] = row[2][row['low']-1] == row['char']
        
for i, row in df.iterrows():
    if row.char in row[2]:
        df.loc[i,'second_neg'] = row[2][row['high']-1] != row['char']
        
for i, row in df.iterrows():
    if row.char in row[2]:
        df.loc[i,'check2'] = row['first_pos'] == row['second_neg'] == True
        
for i, row in df.iterrows():
    if row.char in row[2]:
        df.loc[i,'first_neg'] = row[2][row['low']-1] != row['char']
        
for i, row in df.iterrows():
    if row.char in row[2]:
        df.loc[i,'second_pos'] = row[2][row['high']-1] == row['char']
        
for i, row in df.iterrows():
    if row.char in row[2]:
        df.loc[i,'check3'] = row['first_neg'] == row['second_pos'] == True
        
for i, row in df.iterrows():
    if row.char in row[2]:
        df.loc[i,'check4'] = (row['check2'] == True) or (row['check3'] == True)

In [11]:
df

,0,1,2,low,high,char,ct,check,first_pos,second_neg,check2,first_neg,second_pos,check3,check4
0,9-10,m:,mmmmnxmmmwm,9,10,m,8.0,False,True,True,True,False,False,False,True
1,6-8,w:,wpwwhxnv,6,8,w,3.0,False,False,True,False,True,False,False,False
2,4-6,n:,trwpnnnvq,4,6,n,3.0,False,False,False,False,True,True,True,True
3,12-15,p:,zfpmpphpgghpppppppp,12,15,p,12.0,True,True,False,False,False,True,False,False
4,5-10,z:,bqlbzfzzzbzwsz,5,10,z,6.0,True,True,True,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,11-12,f:,fffffffffsff,11,12,f,11.0,True,True,False,False,False,True,False,False
996,11-17,z:,hwzdfvbpbxzfpjwmzq,11,17,z,3.0,False,True,False,False,False,True,False,False
997,1-11,m:,mxkmnxfbtnmvmtzdqjl,1,11,m,4.0,True,True,False,False,False,True,False,False
998,3-4,d:,ddjg,3,4,d,2.0,False,False,True,False,True,False,False,False
999,17-18,b:,jnlntbblbbqbkqmbbb,17,18,b,8.0,False,True,False,False,False,True,False,False

In [12]:
df.check.value_counts()

False    516
True     469
Name: check, dtype: int64

In [13]:
df.check4.value_counts()

False    718
True     267
Name: check4, dtype: int64